body{
    font-family: IM Fell Double Pica, serif;
    background-color: rgb(225, 186, 239);
    font-size: 16px;
  }
  
  footer{
    font-size: 11px;
  }
  
  header{
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center; 
    align-items: center;
    position: sticky;
  }
  
  .menu{
    position: sticky;
    background-color: #ffffff60;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 15px;
  }
  